.payment-info {
  width: 100%;
  margin-top: 10px;
}
 legend {
   font-size: 20px;
 }

 .payment-form {
   padding: 0 3% 0 3%;
   align-content: center;
 }

 .fieldset-card {
   margin-top: 20px;
 }

   .card-details {
     padding-top: 20px;
   }

